body, html {
    background: #e6e6e6;
    height: 100%;
}


img, input{
    width: 100%;
}

h3 {
    margin: .6rem 0;
}

.div-train {
    padding: 0;
}

.container-train {
    background-color: #fff;
    max-width: 800px;
    height: 600px;
}

.train-loc .img {
    background-image: url('../image/to.png');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.train-loc input {
    padding: .5rem
}

.train-loc > div {
    padding: 0px;
}
